.login{
    position: relative;
    height: 100%;
}
.login__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}
.login__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    background-color: #e50914;
    border: none;
}
.login__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}
.login__body{
    position: absolute;
    top: 30%;
    z-index: 1;
    color: white;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}
.login__body>h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.login__body>h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.login__body>h3{
    font-weight: 400;
    font-size: 1.3;
    
}
.login__input{
    margin: 20px;
}
.login__input > form >input{
    padding: 10px;
    outline-width: 0;
    width: 30%;
    height: 30px;
    border: none;
    max-width: 600px;
}
.loginInput__button{
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}